.scroll-to-top {
  position: fixed;
  z-index: 7;
  right: 1rem;
  bottom: 0;
  height: 60px;
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;
  color: #cbac6a;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  text-align: center;
}

.scroll-to-top:hover {
  text-decoration: none;
}