.filter-heading {
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.filter-button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.filter-button {
  position: relative;
  width: 7.2rem;
  padding: 0;
  border: none;
  margin: 0 auto;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.filter-button::before,
.filter-button::after {
  position: absolute;
  bottom: -.4rem;
  width: 0;
  height: 2px;
  margin: 5px 0 0;
  background-color: #aea28f;
  content: "";
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
}

.filter-button::before {
  left: 50%;
}

.filter-button::after {
  right: 50%;
}

.filter-button:hover::before,
.filter-button:hover::after {
  width: 50%;
  opacity: 1;
}

.product-list-skeleton {
  display: grid;
  width: 100%;
  min-height: 64vh;
  animation: goods-cat ease 0.3s;
  grid-gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (width <=767px) and (orientation: portrait) {
  .product-list-skeleton {
    grid-template-columns: 1fr;
  }
}

.skeleton-product-card {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border-radius: 4px;
}

.skeleton-product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  animation: skeleton-loading 1s linear infinite;
  background: linear-gradient(90deg, #3a3a39 5%, #333332 15%, #3a3a39 25%);
  background-size: 200% 100%;
}