#about::before {
  display: block;
  height: 4rem;
  margin-top: -4rem;
  content: " ";
  pointer-events: none;
  visibility: hidden;
}

.txt-2col {
  column-gap: 1.6em;
  columns: auto 2;
}

.txt-2col p {
  margin-top: 0;
  widows: 2;
}

@media screen and (width <= 767px) {
  .txt-2col {
    column-count: 1;
  }
}