.product-similar {
  display: grid;
  margin-top: 2rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (width <=767px) and (orientation: portrait) {
  .product-similar {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-details-skeleton {
  min-height: 60vh;
  animation: goods-cat ease 0.3s;
}

.skeleton-heading,
.skeleton-title,
.skeleton-text,
.skeleton-price,
.skeleton-slider {
  border-radius: 4px;
  animation: skeleton-loading 1s linear infinite;
  background: linear-gradient(90deg, #3a3a39 5%, #333332 15%, #3a3a39 25%);
  background-size: 200% 100%;
}

.skeleton-heading {
  width: 200px;
  height: 48px;
  margin: 0 auto;
}

.skeleton-slider {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1;
}

.skeleton-title {
  width: 70%;
  height: 32px;
  margin-bottom: 1.5rem;
}

.skeleton-text {
  width: 100%;
  height: 20px;
  margin-bottom: 1rem;

  &:nth-of-type(2) {
    width: 95%;
  }

  &:nth-of-type(3) {
    width: 88%;
  }

  &:nth-of-type(4) {
    width: 92%;
  }
}

.skeleton-price {
  width: 120px;
  height: 28px;
  margin-top: 1.5rem;
}

@media screen and (width <=767px) {
  .product-details-skeleton {
    min-height: 50vh;
  }

  .skeleton-heading {
    width: 150px;
    height: 36px;
  }

  .skeleton-title {
    height: 28px;
  }

  .skeleton-text {
    height: 18px;
  }

  .skeleton-price {
    height: 24px;
  }
}