.slider-container {
  position: relative;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/1;
}

.slider-scrollable-block {
  display: flex;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slider-card {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  scroll-snap-align: start;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider-to-left-btn {
  left: 0;
}

.slider-to-right-btn {
  right: 0;
}

.slider-to-left-btn,
.slider-to-right-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 2px;
  background: transparent;
  color: rgb(203 172 106);
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
  transition: 0.2s;

  &:hover {
    background: rgb(203 172 106 / 60%);
    color: #fff;
  }
}

.slider-pagination-container {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(-50%);
}

.slider-pagination-btn {
  color: rgb(203 172 106 / 0.6);
}

.slider-pagination-btn-active {
  color: #fff;
}

.slider-pagination-btn,
.slider-pagination-btn-active {
  width: 8px;
  height: 8px;
  padding: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 36px;
  outline: none;
  transition: 0.2s;
}

.slider-pagination-btn:hover {
  color: rgb(203 172 106);
}

@media screen and (width <= 820px) {
  .slider-pagination-container {
    display: none;
  }

}


